extends layout

block content
    h1= title
    table(class="table table-striped table-bordered table-hover")
       thead
        tr
            th Bucket Name
       tbody
          each bucket in buckets
             tr
               td.cell
                 | #{bucket.Name}