doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    script(src='http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js')
    script(src='/bootstrap/js/bootstrap.js')
  body
    block content