extends layout
block content
    div.hero-unit
        h1= title
            small Receive messages generated from the CenturyLink Cloud.
        br
        #status
     div.container
        div.row
            div.span3
                h2 Account
                #acctchangefeed
            div.span3
                h2 Alert
                #alertchangefeed
            div.span3
                h2 User
                #userchangefeed
            div.span3
                h2 Server
                #serverchangefeed
